<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>

    <% newPosts.forEach(function(newPosts) { %>

        <h1>
            <%= newPosts.title %>
        </h1>
        <p>
            <%= (newPosts.content).substring(0, 100) + "..." %>
        </p>
        <a href="/posts/<%=newPosts.urlTitle%>">Read More</a>
        <% }); %>

            <%- include("partials/footer"); -%>